@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_1 {
  background: linear-gradient(
    90deg,
    rgba(9, 121, 108, 0.8155637254901961) 25%,
    /* rgba(208, 83, 212, 0.905) 50%, */ rgba(0, 212, 255, 1) 100%
  );
}

.gradient_4 {
  background: radial-gradient(
    circle,
    rgba(205, 59, 101, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.gradient_3 {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.gradient_2 {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(9, 121, 108, 0.8155637254901961) 25%,
    rgba(253, 187, 45, 1) 100%
  );
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  color: #df3ca6;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}
